.main {
  background: linear-gradient(rgba(0, 3, 6, 0), rgba(0, 0, 0, 0.5)), url('/assets/images/bordur_dorozhny.jpg');
  background-size: cover;
  background-position: center;
  background-color: #58495c;
  background-blend-mode: multiply;
  background-attachment: fixed;
  transition: background-color 1s ease-in-out;
}
.container {
margin-top: 50px;
  width: 1000px;
  height: 500px;
}
.images-product {
  width: 300px;
  height: 150px;
  object-fit: cover;
}
.maps {
  margin-top: 100px;
}
.gallery-header {
  padding: 100px 0 30px 40%;
}
